.splash,.workspace,.help,.protos{
	display:none;
}
.active{
	display:block;
}
.workspace{
	height:93%;
	margin:6%  1% 1%;
	width:98%;
	background:slategray;
	position:absolute;
	top:0;
	left:0;
	.border-radius(7px);
	.box-shadow(inset 4px 4px darken(slategray,30%)~","inset -4px -4px lighten(slategray,30%));
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
