.splash,.workspace,.help,.protos{
	display:none;
}
.active{
	display:block;
}
.workspace{
	height:98%;
	margin:1%;
	width:98%;
	background:slategray;
	position:absolute;
	top:0;
	left:0;
	.border-radius(7px);
	.box-shadow(inset 4px 4px darken(slategray,30%)~","inset -4px -4px lighten(slategray,30%));
}
